.flutuar {
    display: inline-block;
    animation: flutuar 2s ease-in-out infinite;
    }
@keyframes flutuar {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); } /* Sobe 15px */
}
