/* Ajuste para telas pequenas (como Moto G84) */
@media (max-width: 768px) {
    .Sobre {
        padding: 15px;
        font-size: 14px; /* Reduzir o tamanho da fonte em telas menores */
    }

    .Sobre h2 {
        font-size: 22px;
    }
}

/* Ajuste para telas médias (como tablet ou telas de tamanho médio) */
@media (min-width: 769px) and (max-width: 1024px) {
    .Sobre {
        padding: 15px;
        font-size: 16px; /* Tamanho confortável para tablets */
    }

    .Sobre h2 {
        font-size: 22px;
    }
}