*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    /* Design da navbar*/
    display: flex;
    margin: 5px;
    padding: 10px;
    gap:30px;
    border: none;
    box-shadow: 0px 0.5px 3px black;
    border-radius: 30px;
    text-align: center;

    a{
        text-align: center;
        color: #000;
        text-decoration: none;
        font-weight: bolder;
        font-size: 16px;
    }
    /* Configuração da navbar */
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    max-width: 450px;
    min-width: 200px;
    z-index: 1000;


    .navlinks{
        display: flex;
        margin: 0 1rem;
        gap: 1rem;
    }

    #active{
        background-color: #000;
        color: #fff;
        margin: 3px;
        padding: 7px;
        border-radius: 20px;
    }
}
