/* larguras
max-width: 1440px;
min-width: 370px;
*/

:root {
    --cor01: #b4becd;
    --cor02: #fff;
    --cor03: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: cursive;
    color: white;
}

body {
    background-color: slategray;
}

.container {
    max-width: 1680px;
    min-width: 370px;
    margin: auto;
}

p {
    padding: 10px;
    margin: 5px;
    font-weight: lighter;
    color: white;
}

.img{
    background-image: url('img/sniper.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    animation: moveBackground 0.5s ease-in-out infinite;
    width: 50px;
    margin: 5px;
}

@keyframes moveBackground{
    0%{
        background-position: right top;
    }
    50%{
        background-position: right bottom;
    }
    100%{
        background-position: right top;
    }
}

.img{
    position: fixed;
    top: 75%;
    right: 0%;
    transform: translate(-50%, -50%);
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
0% {
transform: translate(-0%, -0%) translateY(0);
}
    50% {
transform: translate(-0%, -0%) translateY(-20px);
}
    100% {
transform: translate(-0%, -0%) translateY(0);
    }
}

.floating-character img {
    width: 300px;
    height: auto;
}

nav > a {
    text-decoration: none;
    color: green;
    font-weight: bold;
    padding: 5px;
}

nav > a:hover{
    color: chartreuse;

}

nav {
    background-color: lightgray;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

.top {
    background-color: black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    color: var(--cor02);
    text-align: center;
}

.meio {
    background-image: linear-gradient(to right, #8b20c0, #db00eb, #9e00eb );
    margin: 3px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;

}

#sm > h2 {
    margin: 5px;
    text-align: center;

}

#sm > img{
    align-items: center;
}

.fim {
    background-color: var(--cor01);
    margin: 5px;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    color: var(--cor02);
    text-shadow: 2px 1px 1px black;
}

.fim > p {
    margin: 1px;
    padding: 1px;
}

.ctt > h2 {
    text-align: center;
}

/*.input{
    border-radius: 5px;
    color: black;
    border: 1px solid black;
}*/
.btt:active{
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}


.btt{
    border: 2px solid purple;
    border-radius: 6px;
    padding: 2px;
    margin: 2px;
    width: 55px;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    transition: 0.1s ease , 0.1s ease;
}

.btt:hover{
    background-color: red;
    color: white;
}

.ctt{
border: 2px solid black;
width: 250px;
border-radius: 10px;
margin: 4px;
padding: 4px;
background-color: cornflowerblue;
}

/*habilidades*/

.icons-container {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 20px;
    padding: 10px;
    margin: 10px;
    width: 350px;
    height: 30p;
}

.icon {
    font-size: 50px;
    text-align: center;
}
/*ICONS*/
.html-icon {
    color: #00e9b7;
    margin: 5px;
    padding: 3px;
    transition: transform 0.3s ease;
}

.css-icon {
    color: #00e9b7; 
    margin: 5px;
    padding: 3px;
    transition: transform 0.3s ease;
}

.js-icon {
    color: #00e9b7;
    margin: 5px;
    padding: 3px;
    transition: transform 0.3s ease;
}

.github-icon{
    color: #00e9b7;
    margin: 5px;
    padding: 3px;
    transition: transform 0.3s ease;
}

.git-icon{
    color: #00e9b7;
    margin: 5px;
    padding: 3px;
    transition: transform 0.3s ease;
}

.vscode-icon{
    color: #00e9b7;
    margin: 5px;
    padding: 3px;
    transition: transform 0.3s ease;
}

.figma-icon{
    color: #00e9b7;
    margin: 5px;
    padding: 3px;
    transition: transform 0.3s ease;
}

/*HOVE DE INCONS*/
.html-icon:hover {
    transform: scale(1.4);
    transition: transform 0.3s ease;
}

.css-icon:hover {
    transform: scale(1.4);
    transition: transform 0.3s ease;
}

.js-icon:hover {
    transform: scale(1.4);
    transition: transform 0.3s ease;
}

.github-icon:hover {
    transform: scale(1.4);
    transition: transform 0.3s ease;
}

.git-icon:hover {
    transform: scale(1.4);
    transition: transform 0.3s ease;
}

.vscode-icon:hover {
    transform: scale(1.4);
    transition: transform 0.3s ease;
}

.figma-icon:hover {
    transform: scale(1.4);
    transition: transform 0.3s ease;
}

/*display*/

/*email*/
#email{
    color: black;
}

#nome{
color:black;
}

#Mensagem{
    color: black;
}

aside{
    background-color: #4d0253;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid #fff;
    width: 400px;
}

.pp{
    background-color: black;
    border-radius: 10px;
    border: 2px solid white;
    text-align: justify;
}

.HLL{
    text-align: center;
}